/* Place your CSS styles in this file */

/* Global styles */


@font-face {
  font-family: font_freeman;
  src: url(fonts/Freeman-Regular.ttf);
}

body {
  background:  #001220;/*#240a45; /*240a45 */
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: font_freeman;
  text-shadow: 2px 2px 2px black;
}

.mainBody {
  background: linear-gradient(#471d7f, 50%, #240a45);
  margin-bottom: 0px;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Arial", Arial;
  font-weight: normal;
}

.box {
  margin: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  z-index: 4; /* Lower z-index for the rest of the content */
  font-size: large;
}

.box img{
  margin: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  z-index: 4; /* Lower z-index for the rest of the content */
}

/* Header styles */
.header {
  background: #001220 ; /*001220 */
  position: relative;
  width: 100%;
  height: 450px; /* Adjust height as necessary */
  background-color: #001220;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0; /* Lower z-index than particles */
  overflow: hidden; /* Ensures particles don't overflow from header */
  margin: 0;
  padding: 0;
}

*{ margin: 0%; }

/* Particle emitter styles */
#emitter-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent particles from interfering with user interactions */
  z-index: -1; /* Lower z-index than waves.svg */
}

.particle {
  position: absolute;
  bottom: 0px; /* Adjust this value based on particle size */
  opacity: 1;
  will-change: transform, opacity;
  width: 64px;
  height: 64px;
  z-index: 0; /* Lower z-index to be below waves.svg */
  background-color: #FFFFFF; /* Adjust particle color as needed */
  border-radius: 50%; /* Make particles circular */
  animation: particleAnimation 3s linear infinite; /* Example animation */
}
/* Rectangle styles */
#rectangle {
  width: 200px;
  height: 100px;
  background: blue;
  padding: 100px;
}


.zoom {
  position: relative;
  display: inline-block;
  padding: 50px;
  transition: transform 0.2s, box-shadow 0.2s; /* Animation */
  margin: 0 auto;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Ensure the glint effect doesn't overflow */
  border-radius: 20%;
  width: auto;
}


.zoom:hover {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) scale(1.25);
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the spacing between images */
  /*margin: 20px 0; /* Adjust the margin as needed */
  /*left: 20px;
  right: 20px;*/
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height:auto;
  color:aquamarine;
  flex-wrap: wrap;
  
}
a:link {
  color: aquamarine;
}
a:hover {
  color: rgb(39, 31, 83);
}
a:visited {
  color: aquamarine;
}
.link img {
  display: block;
  max-width: 100%; /* Ensure images scale correctly */
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height:auto;
  padding: 0;
  
}





.footer{
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 70;
  background: linear-gradient(#240a45, #150326);
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px
}






.spacer {
  position: absolute;
  aspect-ratio: 900/450;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.layer1 {
  position: absolute;
  background-image: url('waves.svg');
  z-index: 1; /* Keep the waves.svg on top */
}


.title {
  z-index: 69;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  display: inline-block;
}


ul li {
  text-align: center;
  list-style-type: none;
  font-size: xx-large;
}



@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(100%);}
  100% { opacity: 1; transform: translateY(0%);}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; transform: translateY(100%);}
  100% { opacity: 1; transform: translateY(0%);}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; transform: translateY(100%);}
  100% { opacity: 1; transform: translateY(0%);}
}

@-o-keyframes fadeIn {
  0% { opacity: 0; transform: translateY(100%);}
  100% { opacity: 1; transform: translateY(0%);}
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; transform: translateY(100%);}
  100% { opacity: 1; transform: translateY(0%);}
}



.blogTitle {
  text-align: center;
  font-size: xx-large
}
/* 300px */
.blogText {
  font-size: auto;
  font-family: font_freeman;
  padding-left: 20%; 
  padding-right: 20%;
  
  white-space: pre-wrap;
}
/*
width = 50%,
*/
.video-container {
  position: relative;
  width: 75%; /* Start at 75% of the original width */
  padding-bottom: 42.1875%; /* 16:9 aspect ratio (9/16 * 75%) */
  margin-left: auto;
  margin-right: auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*
.blogText img{
  max-width: calc(100%);
  margin-left: 30%;
  margin-right: 30%;
  height:auto;
  display: block;
  
}*/
.blogText img{
  display: flex;
  justify-content: center; /* Center the image horizontally */

  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  height: auto; /* Maintain the aspect ratio */
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.blogButton {
  font-size: xx-large;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 200, 252);
}
.blogButton:hover {
  color: rgb(139, 66, 146);
}

#NavBar {
  background-color: #001220;
  overflow: hidden;
  z-index: 420;
  border-radius: 0% 0% 98% 75%;
}
#NavBar a {
  color: white;
  text-shadow: none;
  text-align: center;
  padding: 40px;
  float: left;
  display: block;
  z-index: 420;
  padding-left:40px;
  padding-top: 20px;
  padding-bottom: -20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 420;
}

.aboutMe img {
  height: inherit;
  padding: auto;
}

.contact{
  font-size: xx-large;
  text-align: center;
}
.contactsmol{
  font-size: large;
  text-align: center;
}